.landing-section .content-container .content-block {
visibility: hidden;
}
#beam {
visibility: visible;
    z-index: -1;
    top: 0px;
    height: 700px;
}

.site-header {
visibility: visible;
}
#markets {
    visibility: hidden;
}
.markets-video {
    width: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -2;
}